<div class="card mt-2 mb-2" style="cursor: pointer" (click)="isCollapsed = !isCollapsed">
  <div class="card-header">
    <div class="toggle">
      <fa-icon [icon]="faCaretDown" *ngIf="!isCollapsed"></fa-icon>
      <fa-icon [icon]="faCaretUp" *ngIf="isCollapsed"></fa-icon>
    </div>
    {{axis.title}}
  </div>

  <div class="card-body" *ngIf="isCollapsed">
    <ul class="list-inline member-icons animate text-center" (click)="$event.stopPropagation()">
      <li class="list-inline-item" *ngFor="let ap of axisPoleList">
        <app-axis-pole-weight-item [isReadOnly]="isReadOnly" [axisPole]="ap" (updateAxisPoleEvent)="handleUpdateAxisPole($event)"></app-axis-pole-weight-item>
      </li>
    </ul>
  </div>
</div>
