<div class="modal-header">
  <h4 class="modal-title pull-left">Créer un nouvel utilisateur</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="newUserForm" (ngSubmit)="requestCreateUser()">
    <div class="form-group">
      <input [ngClass]="{
              'is-invalid':
              newUserForm.get('email').errors &&
              newUserForm.get('email').touched
            }" type="text" class="form-control" placeholder="Email" formControlName="email" />
      <div class="invalid-feedback">Email est requis</div>
    </div>

    <div class="form-group">
      <input [ngClass]="{
            'is-invalid':
              newUserForm.get('firstName').errors &&
              newUserForm.get('firstName').touched
          }" class="form-control" placeholder="Prénom" formControlName="firstName" />
      <div class="invalid-feedback" *ngIf="
            newUserForm.get('firstName').touched &&
            newUserForm.get('firstName').hasError('required')
          ">
        Le prénom est requis
      </div>
    </div>

    <div class="form-group">
      <input [ngClass]="{
              'is-invalid':
                newUserForm.get('lastName').errors &&
                newUserForm.get('lastName').touched
            }" class="form-control" placeholder="Nom" formControlName="lastName" />
      <div class="invalid-feedback" *ngIf="
              newUserForm.get('lastName').touched &&
              newUserForm.get('lastName').hasError('required')
            ">
        Nom est requis
      </div>
    </div>

    <div class="form-group">
      <input [ngClass]="{
                'is-invalid':
                  newUserForm.get('title').errors &&
                  newUserForm.get('title').touched
              }" class="form-control" placeholder="Fonction" formControlName="title" />
      <div class="invalid-feedback" *ngIf="
                newUserForm.get('title').touched &&
                newUserForm.get('title').hasError('required')
              ">
        Fonction est requise
      </div>
    </div>

    <div class="form-group">
      <input [ngClass]="{
                    'is-invalid':
                      newUserForm.get('department').errors &&
                      newUserForm.get('department').touched
                  }" class="form-control" placeholder="Direction" formControlName="department" />
      <div class="invalid-feedback" *ngIf="
                    newUserForm.get('department').touched &&
                    newUserForm.get('department').hasError('required')
                  ">
        Fonction est requise
      </div>
    </div>

    <div class="form-group">
      <input [ngClass]="{
              'is-invalid':
                newUserForm.get('startDateOfWork').errors &&
                newUserForm.get('startDateOfWork').touched
            }" class="form-control" placeholder="Date de début du travail" formControlName="startDateOfWork" type="text"
        bsDatepicker [bsConfig]="bsConfig" />
      <div class="invalid-feedback" *ngIf="
              newUserForm.get('startDateOfWork').touched &&
              newUserForm.get('startDateOfWork').hasError('required')
            ">
        Date of Birth is required
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Annuler</button>
  <button type="button" class="btn btn-success" type="submit" [disabled]="!newUserForm.valid" form="newUserForm">Soumettre</button>
</div>
