<div class="container">
  <form #form="ngForm" (ngSubmit)="loadData()" novalidate>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label class="sr-only" for="department">Direction:</label>
        <select [(ngModel)]="filters.departmentId" class="form-control" style="width: 150px" id="department" name="department">
          <option value="0">Toutes les dirctions</option>
          <option *ngFor="let dpt of departmentList" [value]="dpt.id">
            {{ dpt.name }}
          </option>
        </select>
      </div>

      <div class="col-auto">
        <label class="sr-only" for="userStatus">Statut:</label>
        <select [(ngModel)]="filters.userStatusId" class="form-control" style="width: 150px" id="userStatus" name="userStatus">
          <option value="0">Toutes les Statuts</option>
          <option *ngFor="let status of userStatusList" [value]="status.id">
            {{ status.name }}
          </option>
        </select>
      </div>

      <div class="col-auto">
        <label class="sr-only" for="userToSearch">Nom:</label>
        <input type="text" [(ngModel)]="filters.userToSearch" class="form-control" style="width: 150px" id="userToSearch" name="userToSearch"
          placeholder="Nom à rechercher">
      </div>

      <div class="col-auto">
        <button type="submit" class="btn btn-primary" style="margin-left:10px">
          Appliquer
        </button>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-info" style="margin-left:10px" (click)="resetFilters()">
          Réinitialiser
        </button>
      </div>

      <div class="col-auto">
        <button type="button" class="btn btn-primary" style="margin-left:10px" (click)="creationToggle()">
          Nouveau
        </button>
      </div>
    </div>
  </form>
</div>
