<div class="container">
  <div *ngIf="!creationMode">
    <app-hr-filter-create-actions [statusList]="statusList" [dataType]="dataType" (loadDataEvent)="handleLoadBehavioralSkills($event)"
      (creationModeEvent)="handleCreationMode($event)"></app-hr-filter-create-actions>

    <br />

    <div class="row">
      <table class="table table-hover" style="cursor: pointer">
        <tr>
          <th style="width: 30%">Compétence</th>
          <th style="width: 15%">Statut</th>
          <th style="width: 20%">Auteur</th>
          <th style="width: 15%">Date de création</th>
          <th style="width: 20%"></th>
        </tr>

        <tr *ngFor="let behavioralSkill of behavioralSkills" [routerLink]="['/behavioralSkills', behavioralSkill.id]">
          <td>{{behavioralSkill.skill}}</td>
          <td>{{behavioralSkill.status}}</td>
          <td>{{behavioralSkill.createdByName}}</td>
          <td>{{behavioralSkill.created | date: 'mediumDate'}}</td>
          <td>
            <button class="btn btn-info" (click)="$event.stopPropagation()" (click)="editBehavioralSkillModal(behavioralSkill)">Editer</button>
          </td>
        </tr>

      </table>
    </div>
  </div>

  <div *ngIf="creationMode">
    <app-behavioral-skill-new (cancelCreation)="cancelCreationMode($event)" (switchOffCreation)="switchOffCreationMode($event)"></app-behavioral-skill-new>
  </div>

</div>
