<div class="container mt-5">
  <h2>Panneau de fiches d'évaluation</h2>
  <div class="tab-panel">
    <tabset class="member-tabset">
      <tab heading="Mes fiches d'évaluation">
        <div class="container">
          <div class="alert alert-info mt-3" role="info" *ngIf="sheets && sheets.length === 0">
            <p>Aucune fiche d'évaluation n'a encore été générée pour vous...</p>
          </div>
          <app-my-sheets-list [sheets]="sheets" [pagination]="pagination"></app-my-sheets-list>
        </div>
      </tab>

      <tab heading="Fiches d'évaluation de mes collaborateurs">
        <div class="container">
          <div class="alert alert-info mt-3" role="info" *ngIf="sheetsToValidate && sheetsToValidate.length === 0">
            Aucune fiche d'évaluation ne vous a été attribuée pour validation...
          </div>
          <app-my-collaborators-sheets [sheetsToValidate]="sheetsToValidate"></app-my-collaborators-sheets>
        </div>
      </tab>
    </tabset>
  </div>
</div>
