<div class="container">
  <div class="card mt-2 mb-2" *ngFor="let ps of strategies">
    <div class="card-header">
      <h6 class="card-subtitle mb-2 text-muted">{{ps.title}}</h6>
      <p class="card-text">{{ps.description}}</p>
    </div>

    <div class="card-body">
      <carousel>
        <slide *ngFor="let key of keys">
          <div class="text-center py-5 bg-info text-white">
            <h2>{{key}}
            </h2>
            <div class="lead" *ngFor="let ap of axisPolesGroupedByAxis[key]">
              <p>{{ap.poleName}}</p>
              <span class="badge badge-danger">{{ap.weight}} %</span>
            </div>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>
