<div class="container">

  <div class="row" *ngIf="strategies.length == 0">
    <h3>Pas de strategies</h3>
  </div>

  <div *ngIf="strategies.length > 0">
    <div class="card mt-2 mb-2" *ngFor="let strategy of strategies">
      <div class="card-header">
        <h6 class="card-subtitle mb-2 text-muted">{{strategy.title}}</h6>
        <button type="button" class="btn btn-primary float-right" (click)="viewToggle()">
          Changer de vue
        </button>
        <p class="card-text">{{strategy.description}}</p>
      </div>



      <div class="card-body">
        <carousel *ngIf="!viewMode">
          <slide *ngFor="let axis of strategy.axisList">
            <div class="text-center py-5">
              <h2>{{axis.title}}</h2>
              <p class="card-text text-info text-center">{{axis.description}}</p>
              <ul class="list-inline text-center">
                <li class="list-inline-item" *ngFor="let ap of axis.axisPoles">
                  <div class="card text-center" style="width: 15rem;">
                    <div class="card-body">
                      <h4 class="card-title text-center mb-1">
                        {{ap.poleName}}
                      </h4>
                      <span class="badge badge-pill badge-danger">
                        <h1>{{ap.weight}} %</h1>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </slide>
        </carousel>

        <table *ngIf="viewMode" class="table table-hover" style="cursor: pointer">
          <tr>
            <th style="width: 20%">Titre d'axis</th>
            <th style="width: 30%">Description d'axe</th>
            <th style="width: 50%">Poles / Pondération</th>

          </tr>
          <tr *ngFor="let axis of strategy.axisList">
            <td class="align-middle">{{ axis.title }}</td>
            <td class="align-middle">{{ axis.description }}</td>
            <td>
              <table>
                <tr *ngFor="let ap of axis.axisPoles">
                  <td>{{ap.poleName}}</td>
                  <td>
                    <span class="badge badge-pill badge-danger">
                      {{ap.weight}} %
                    </span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
