<div class="container">
  <div *ngIf="!creationMode">
    <app-hr-filter-create-actions [statusList]="statusList" [dataType]="dataType" (loadDataEvent)="handleLoadStrategies($event)"
      (creationModeEvent)="handleCreationMode($event)"></app-hr-filter-create-actions>

    <br />

    <div class="row">
      <table class="table table-hover" style="cursor: pointer">
        <tr>
          <th style="width: 30%">Titre</th>
          <th style="width: 15%">Statut</th>
          <th style="width: 20%">Auteur</th>
          <th style="width: 15%">Date de création</th>
          <th style="width: 20%"></th>
        </tr>

        <tr *ngFor="let strategy of strategies" [routerLink]="['/strategies', strategy.id]">
          <td>{{strategy.title}}</td>
          <td>{{strategy.status}}</td>
          <td>{{strategy.ownerName}}</td>
          <td>{{strategy.created | date: 'mediumDate'}}</td>
          <td>
            <button class="btn btn-info" (click)="$event.stopPropagation()" (click)="editStrategyModal(strategy)">Editer</button>
          </td>
        </tr>

      </table>
    </div>

    <div class="d-flex justify-content-center">
      <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)">
      </pagination>
    </div>
  </div>

  <div *ngIf="creationMode">
    <app-strategy-new (cancelCreation)="cancelCreationMode($event)" (switchOffCreation)="switchOffCreationMode($event)"></app-strategy-new>
  </div>

</div>
