<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">S'inscrire</h2>
  <hr />

  <div class="form-group">
    <input [ngClass]="{
          'is-invalid':
            registerForm.get('username').errors &&
            registerForm.get('username').touched
        }" type="text" class="form-control" placeholder="Nom d'utilisateur" formControlName="username" />
    <div class="invalid-feedback">Veuillez choisir un nom d'utilisateur</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{
          'is-invalid':
            registerForm.get('firstName').errors &&
            registerForm.get('firstName').touched
        }" class="form-control" placeholder="Prénom" formControlName="firstName" />
    <div class="invalid-feedback" *ngIf="
          registerForm.get('firstName').touched &&
          registerForm.get('firstName').hasError('required')
        ">
      Prénom est requis
    </div>
  </div>

  <div class="form-group">
    <input [ngClass]="{
            'is-invalid':
              registerForm.get('lastName').errors &&
              registerForm.get('lastName').touched
          }" class="form-control" placeholder="Prénom" formControlName="lastName" />
    <div class="invalid-feedback" *ngIf="
            registerForm.get('lastName').touched &&
            registerForm.get('lastName').hasError('required')
          ">
      Nom est requis
    </div>
  </div>

  <div class="form-group">
    <input [ngClass]="{
          'is-invalid':
            registerForm.get('title').errors &&
            registerForm.get('title').touched
        }" class="form-control" placeholder="Fonction" formControlName="title" />
    <div class="invalid-feedback" *ngIf="
          registerForm.get('title').touched &&
          registerForm.get('title').hasError('required')
        ">
      Fonction est requise
    </div>
  </div>

  <div class="form-group">
    <select [ngClass]="{
        'is-invalid':
          registerForm.get('department').errors && registerForm.get('department').touched
      }">
      <option value="0">Toutes les dirctions</option>
      <option *ngFor="let dpt of departmentList" [value]="dpt.id">
        {{ dpt.name }}
      </option>
    </select>

    <div class="invalid-feedback" *ngIf="
          registerForm.get('deprtment').touched &&
          registerForm.get('department').hasError('required')
        ">
      Direction est requise
    </div>
  </div>

  <div class="form-group">
    <select [ngClass]="{
        'is-invalid':
          registerForm.get('department').errors && registerForm.get('department').touched
      }">
      <option value="0">Toutes les dirctions</option>
      <option *ngFor="let dpt of departmentList" [value]="dpt.id">
        {{ dpt.name }}
      </option>
    </select>

    <div class="invalid-feedback" *ngIf="
          registerForm.get('deprtment').touched &&
          registerForm.get('department').hasError('required')
        ">
      Direction est requise
    </div>
  </div>

  <div class="form-group">
    <input [ngClass]="{
          'is-invalid':
            registerForm.get('country').errors &&
            registerForm.get('country').touched
        }" class="form-control" placeholder="Country" formControlName="country" />
    <div class="invalid-feedback" *ngIf="
          registerForm.get('country').touched &&
          registerForm.get('country').hasError('required')
        ">
      Country is required
    </div>
  </div>

  <div class="form-group">
    <input [ngClass]="{
          'is-invalid':
            registerForm.get('password').errors &&
            registerForm.get('password').touched
        }" type="password" class="form-control " placeholder="Password" formControlName="password" />
    <div class="invalid-feedback" *ngIf="
          registerForm.get('password').hasError('required') &&
          registerForm.get('password').touched
        ">
      Password is required
    </div>
    <div class="invalid-feedback" *ngIf="
          registerForm.get('password').hasError('minlength') &&
          registerForm.get('password').touched
        ">
      Password must be at least 4 characters
    </div>
    <div class="invalid-feedback" *ngIf="
          registerForm.get('password').hasError('maxlength') &&
          registerForm.get('password').touched
        ">
      Password cannot exceed 8 characters
    </div>
  </div>

  <div class="form-group">
    <input [ngClass]="{
          'is-invalid':
            (registerForm.get('confirmPassword').errors &&
              registerForm.get('confirmPassword').touched) ||
            (registerForm.get('confirmPassword').touched &&
              registerForm.hasError('mismatch'))
        }" type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" />
    <div class="invalid-feedback" *ngIf="
          registerForm.get('confirmPassword').hasError('required') &&
          registerForm.get('confirmPassword').touched
        ">
      Password is required
    </div>
    <div class="invalid-feedback" *ngIf="
          registerForm.hasError('mismatch') &&
          registerForm.get('confirmPassword').touched
        ">
      Password must match
    </div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit" [disabled]="!registerForm.valid">
      Register
    </button>
    <button class="btn btn-default" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
