<div class="card mt-2 mb-2">
  <div class="card-header">
    <h6 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </h6>
  </div>

  <div class="card-body">
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item">
        <div class="card text-center" style="width: 10rem;">
          <div class="card-body">
            <h6 class="card-title text-center mb-1">
              Pole 1
            </h6>
            <p *ngIf="!editing" class="card-text text-muted text-center">
              {{axisPoleWeight.weight}}%
            </p>
            <div *ngIf="editing" class="mb-2">
              <input type="number" min="0" max="100" [value]="axisPoleWeight.weight" (input)="onWeightChange(weight.value)" #weight> %
            </div>
            <button class="btn" [ngClass]="editing ? 'btn-success' : 'btn-info'" (click)="toggleEdit()">
              <i *ngIf="editing" class="fa fa-save"></i>
              <i *ngIf="!editing" class="fa fa-edit"></i>
            </button>
          </div>
        </div>
      </li>

      <li class="list-inline-item">
        <div class="card text-center" style="width: 10rem;">
          <div class="card-body">
            <h6 class="card-title text-center mb-1">
              Pole 2
            </h6>
            <p *ngIf="!editing" class="card-text text-muted text-center">
              {{axisPoleWeight.weight}}%
            </p>
            <div *ngIf="editing" class="mb-2">
              <input type="number" min="0" max="100" [value]="axisPoleWeight.weight" (input)="onWeightChange(weight.value)" #weight> %
            </div>
            <button class="btn" [ngClass]="editing ? 'btn-success' : 'btn-info'" (click)="toggleEdit()">
              <i *ngIf="editing" class="fa fa-save"></i>
              <i *ngIf="!editing" class="fa fa-edit"></i>
            </button>
          </div>
        </div>
      </li>

      <li class="list-inline-item">
        <div class="card text-center" style="width: 10rem;">
          <div class="card-body">
            <h6 class="card-title text-center mb-1">
              Pole 3
            </h6>
            <p *ngIf="!editing" class="card-text text-muted text-center">
              {{axisPoleWeight.weight}}%
            </p>
            <div *ngIf="editing" class="mb-2">
              <input type="number" min="0" max="100" [value]="axisPoleWeight.weight" (input)="onWeightChange(weight.value)" #weight> %
            </div>
            <button class="btn" [ngClass]="editing ? 'btn-success' : 'btn-info'" (click)="toggleEdit()">
              <i *ngIf="editing" class="fa fa-save"></i>
              <i *ngIf="!editing" class="fa fa-edit"></i>
            </button>
          </div>
        </div>
      </li>

      <li class="list-inline-item">
        <div class="card text-center" style="width: 10rem;">
          <div class="card-body">
            <h6 class="card-title text-center mb-1">
              Pole 4
            </h6>
            <p *ngIf="!editing" class="card-text text-muted text-center">
              {{axisPoleWeight.weight}}%
            </p>
            <div *ngIf="editing" class="mb-2">
              <input type="number" min="0" max="100" [value]="axisPoleWeight.weight" (input)="onWeightChange(weight.value)" #weight> %
            </div>
            <button class="btn" [ngClass]="editing ? 'btn-success' : 'btn-info'" (click)="toggleEdit()">
              <i *ngIf="editing" class="fa fa-save"></i>
              <i *ngIf="!editing" class="fa fa-edit"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
