<div class="modal-header">
  <h5 class="modal-title pull-left">Modifier Compétence Comportementale</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #behavioralSkillForm="ngForm" id="behavioralSkillForm">

    <h6>Compétence:</h6>
    <input [(ngModel)]="behavioralSkill.skill" name="skill" required type="text" class="form-control input-sm" placeholder="Compétence"
    />


    <h6>Définition:</h6>
    <textarea rowa="3" [(ngModel)]="behavioralSkill.definition" name="definition" required type="text" class="form-control input-sm"
      placeholder="Definition"></textarea>

    <h6>Statut:</h6>
    <select class="form-control mb-1" style="width: 200px" id="status" name="status" [(ngModel)]="behavioralSkill.status" required>
      <option *ngFor="let status of statusList" [ngValue]="status">
        {{ status }}
      </option>
    </select>

    <accordion>
      <accordion-group heading="Niveau 1" [isOpen]="isFirstOpen">
        <div class="card-body">
          <input [(ngModel)]="behavioralSkill.levelOne" name="levelOne" required type="text" class="form-control input-sm" placeholder="Niveau 1"
          />
          <h6>Niveau 1 Note:</h6>
          <input [(ngModel)]="behavioralSkill.levelOneGrade" name="levelOneGrade" required type="number" class="form-control input-sm"
            placeholder="Niveau 1 Note" />

          <h6>Niveau 1 Description:</h6>
          <textarea rowa="3" [(ngModel)]="behavioralSkill.levelOneDescription" name="levelOneDescription" class="form-control input-sm"
            placeholder="Niveau 1 description"></textarea>
        </div>
      </accordion-group>
      <accordion-group heading="Niveau 2">
        <div class="card-body">
          <input [(ngModel)]="behavioralSkill.levelTwo" name="levelTwo" required type="text" class="form-control input-sm" placeholder="Niveau 2"
          />
          <h6>Niveau 2 Note:</h6>
          <input [(ngModel)]="behavioralSkill.levelTwoGrade" name="levelTwoGrade" required type="number" class="form-control input-sm"
            placeholder="Niveau 2 Note" />

          <h6>Niveau 2 Description:</h6>
          <textarea rowa="3" [(ngModel)]="behavioralSkill.levelTwoDescription" name="levelTwoDescription" class="form-control input-sm"
            placeholder="Niveau 2 description"></textarea>
        </div>
      </accordion-group>
      <accordion-group heading="Niveau 3">
        <div class="card-body">
          <input [(ngModel)]="behavioralSkill.levelThree" name="levelThree" required type="text" class="form-control input-sm" placeholder="Niveau 3"
          />
          <h6>Niveau 2 Note:</h6>
          <input [(ngModel)]="behavioralSkill.levelThreeGrade" name="levelThreeGrade" required type="number" class="form-control input-sm"
            placeholder="Niveau 3 Note" />

          <h6>Niveau 2 Description:</h6>
          <textarea rowa="3" [(ngModel)]="behavioralSkill.levelThreeDescription" name="levelThreeDescription" class="form-control input-sm"
            placeholder="Niveau 2 description"></textarea>
        </div>
      </accordion-group>
      <accordion-group heading="Niveau 4">
        <div class="card-body">
          <input [(ngModel)]="behavioralSkill.levelFour" name="levelFour" required type="text" class="form-control input-sm" placeholder="Niveau 4"
          />
          <h6>Niveau 4 Note:</h6>
          <input [(ngModel)]="behavioralSkill.levelFourGrade" name="levelFourGrade" required type="number" class="form-control input-sm"
            placeholder="Niveau 4 Note" />

          <h6>Niveau 4 Description:</h6>
          <textarea rowa="3" [(ngModel)]="behavioralSkill.levelFourDescription" name="levelFourDescription" class="form-control input-sm"
            placeholder="Niveau 4 description"></textarea>
        </div>
      </accordion-group>
    </accordion>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">Annuler</button>
  <button type="button" class="btn btn-success" (click)="updateBehavioralSkill()" form="behavioralSkillForm" [disabled]="!behavioralSkillForm.valid || !behavioralSkillForm.dirty">Mettre à jour</button>
</div>
