<div class="container mt-5">
  <ngx-loading [show]="loading"></ngx-loading>
  <h2>Panneau de Ressource Humaine</h2>
  <div class="tab-panel">
    <tabset class="member-tabset" #hrTabs>
      <tab heading="Axes d'évaluation" *appHasRole="['HRD', 'HR']">
        <div class="container mt-2">
          <app-strategy-list [statusList]="statusList" [strategies]="strategies" [pagination]="pagination" (pageChangedEvent)="(handlePageChanged($event))"
            (loadStrategiesEvent)="handleLoadStrategies($event)" (editStrategyEvent)="handleEditStrategy($event)">
          </app-strategy-list>
        </div>
      </tab>

      <tab heading="Compétences Comportementales" *appHasRole="['HRD', 'HR']">
        <div class="container mt-2">
          <app-behavioral-skill-list [statusList]="statusList" [behavioralSkills]="behavioralSkills" (loadBehavioralSkillsEvent)="handleLoadBehavioralSkills($event)"
            (editBehavioralSkillEvent)="handleEditBehavioralSkill($event)"></app-behavioral-skill-list>
        </div>
      </tab>

      <tab heading="Modèle de fiches d'évaluation" *appHasRole="['HRD', 'HR']">
        <div class="container mt-2">
          <app-evaluation-hr-list [statusList]="statusList" [evaluationFiles]="evaluationFiles" [strategyList]="strategyList" [skillList]="skillList"
            (loadEvaluationFilesEvent)="handleLoadEvaluationFiles($event)" (editEvaluationFileEvent)="handleEditEvaluationFile($event)"
            (loadPublishedStratgeiesEvent)="handleLoadPublishedStratgeies($event)" (loadPublishedBehavioralSkillsEvent)="handleLoadPublishedBehavioralSkills($event)"></app-evaluation-hr-list>
        </div>
      </tab>

      <tab heading="Logs des fiches d'évaluation" *appHasRole="['HRD', 'HR']">
        <div class="container mt-2" *ngIf="evaluationFileInstanceLogs.length > 0">
          <app-evaluation-file-instance-logs [evaluationFileInstanceLogs]="evaluationFileInstanceLogs"></app-evaluation-file-instance-logs>
        </div>
      </tab>
    </tabset>
  </div>
</div>
