<div class="card text-center" style="width: 15rem;">
  <div class="card-body">
    <h6 class="card-title text-center mb-1">
      {{ evaluator.fullName }}
    </h6>
    <p class="text-muted">{{ evaluator.title }}</p>
    <p class="text-muted">{{ evaluator.departmentName }}</p>
    <p *ngIf="!editing" class="card-text text-center">
      Rang d'évaluateur:
      <span class="badge badge-success">{{ evaluator.rank }}</span>
    </p>
    <div *ngIf="editing" class="mb-2">
      <label>Rang d'évaluateur:</label>
      <input type="number" min="0" max="100" [value]="evaluator.rank" (input)="onRankChange(rank.value)" #rank>
    </div>
    <button class="btn btn-sm" [ngClass]="editing ? 'btn-success' : 'btn-info'" (click)="toggleEdit()">
      <i *ngIf="editing" class="fa fa-save"></i>
      <i *ngIf="!editing" class="fa fa-edit"></i>
    </button>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-danger" (click)="$event.stopPropagation()" (click)="deleteEvaluator()">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </div>
</div>
