<div class="container mt-2">
  <div class="card border-primary">
    <div class="card-header " *ngIf="!areGoalsReadOnly" style="cursor: pointer" (click)="isCollapsed = !isCollapsed">
      <div class="row">
        <div class="col-md-11 text-primary">
          <h4>LA LISTE DES OBJECTIFS</h4>
        </div>
        <div class="col-md-1">
          <div class="toggle">
            <button class="btn btn-outline-primary btn-round" *ngIf="!isCollapsed">Ajouter</button>
            <fa-icon [icon]="faCaretUp" *ngIf="isCollapsed"></fa-icon>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="isCollapsed" (click)="$event.stopPropagation()">
        <div class="col-md-12">
          <app-goal-new [axisInstances]="axisInstances" [goalTypeList]="goalTypeList" [goalsByAxisInstanceList]="goalsByAxisInstanceList"
            (createGoalEvent)="handleCreateGoal($event)"></app-goal-new>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div *ngFor="let goalsByAxisInstance of goalsByAxisInstanceList">
        <app-goal-card [sheetId]="sheetId" [areGoalsReadOnly]="areGoalsReadOnly" [axisInstances]="axisInstances" [goalTypeList]="goalTypeList" [goalsByAxisInstance]="goalsByAxisInstance"
          (editGoalEvent)="handleEditGoal($event)" (deleteGoalEvent)="handleDeleteGoal($event)" (cascadeMyGoalEvent)="handleCascadeMyGoal($event)"></app-goal-card>
      </div>
    </div>

    <div class="card-footer">
      <div class="float-right">
        <button class="btn btn-primary w-70 mr-1" [disabled]="!areGoalsCompleted" (click)="validateGoals()" *ngIf="!areGoalsReadOnly">
          Envoyer les objectifs pour validation
        </button>
      </div>
    </div>
  </div>
</div>
