<div class="container mt-2">
  <div class="toggle">
    <button type="button" (click)="isCollapsed = !isCollapsed" title="Réduire / Agrandir">
      <fa-icon [icon]="faCaretDown" *ngIf="!isCollapsed"></fa-icon>
      <fa-icon [icon]="faCaretUp" *ngIf="isCollapsed"></fa-icon>
    </button>
  </div>

  <div class="card">
    <div class="card-header" *ngIf="isCollapsed">
      <app-goal-new [axisInstances]="axisInstances" [goalTypeList]="goalTypeList" [goalsByAxisInstanceList]="goalsByAxisInstanceList"
        (createGoalEvent)="handleCreateGoal($event)"></app-goal-new>
    </div>

    <div class="card-body">
      <div *ngFor="let goalsByAxisInstance of goalsByAxisInstanceList">
        <app-goal-card [axisInstances]="axisInstances" [goalTypeList]="goalTypeList" [goalsByAxisInstance]="goalsByAxisInstance"
          (editGoalEvent)="handleEditGoal($event)" (deleteGoalEvent)="handleDeleteGoal($event)"></app-goal-card>
      </div>
    </div>
  </div>
</div>
