<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h3>Fiche d'évaluation de {{ sheetDetail.ownerName }}
        <div class="float-right">
          <img src="{{ sheetDetail.photoUrl || '../../assets/user.png'}}" class="img-circle rounded-circle mr-1" />
        </div>
      </h3>
    </div>
    <div class="card-body">
      <tabset class="member-tabset">
        <tab heading="Détail">
          <div class="container mt-2">
            <div class="row">
              <div class="col-md-4">
                <strong>Titre:</strong>
                <p>{{ sheetDetail.title }}</p>
              </div>
              <div class="col-md-4">
                <strong>Année:</strong>
                <p>{{ sheetDetail.year }}</p>
              </div>
              <div class="col-md-4">
                <strong>Statut:</strong>
                <p>{{ sheetDetail.status }}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <strong>Matricule:</strong>
                <p>{{ sheetDetail.employeeNumber }}</p>
              </div>
              <div class="col-md-4">
                <strong>Nom de l'employé:</strong>
                <p>{{ sheetDetail.ownerName }}</p>
              </div>
              <div class="col-md-4">
                <strong>Fonction:</strong>
                <p>{{ sheetDetail.ownerTitle }}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <strong>Pôle/entité:</strong>
                <p>{{ sheetDetail.axisInstances[0].poleName }}</p>
              </div>
              <div class="col-md-4">
                <strong>Créé:</strong>
                <p>{{ sheetDetail.created | date: 'mediumDate' }}</p>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Stratégie">
          <app-axis-user [strategyTitle]="sheetDetail.strategyTitle" [strategyDescription]="sheetDetail.strategyDescription" [axisInstances]="sheetDetail.axisInstances"></app-axis-user>
        </tab>
        <tab heading="Définition des objectifs">
          <div *ngIf="goalsByAxisInstanceList">
            <app-goals [areGoalsCompleted]="areGoalsCompleted" [areGoalsReadOnly]="areGoalsReadOnly" [goalsByAxisInstanceList]="goalsByAxisInstanceList"
              [axisInstances]="sheetDetail.axisInstances" [goalTypeList]="goalTypeList" (createGoalEvent)="handleCreateGoal($event)"
              (editGoalEvent)="handleEditGoal($event)" (deleteGoalEvent)="handleDeleteGoal($event)" (validateGoalsEvent)="handleValidateGoals($event)"
              (cascadeMyGoalEvent)="handleCascadeMyGoal($event)"></app-goals>
          </div>
        </tab>
        <tab heading="Évaluation des Objectifs">
          <div *ngIf="goalsByAxisInstanceList">
            <app-auto-evaluation [sheetOwnerId]="sheetDetail.ownerId" [goalIdToExpand]="goalIdToExpand" [goalsByAxisInstanceList]="goalsByAxisInstanceList"
              [areGoalsEvaluable]="areGoalsEvaluable" (addGoalEvaluationEvent)="handleAddGoalEvaluation($event)"></app-auto-evaluation>
          </div>
        </tab>
        <tab heading="Évaluation des Compétence Comportementale">
          <app-behavioral-skill-evaluation [sheetId]="sheetDetail.id" [behavioralSkillIdToExpand]="behavioralSkillIdToExpand" [behavioralSkillInstanceList]="behavioralSkillInstanceList"
            (addBehavioralSkillEvaluationEvent)="handleAddBehavioralSkillEvaluation($event)"></app-behavioral-skill-evaluation>
        </tab>
      </tabset>
    </div>

    <div class="card-footer">
      <div class="btn-group d-flex">
        <button class="btn btn-success w-70 mr-1" (click)="returnToList()">
          Retour au List
        </button>
      </div>
    </div>
  </div>
</div>
