<div class="card mb-4">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="{{ user.photoUrl || '../../../assets/user.png' }}" alt="{{ user.lastName }}" />
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item">
        <button class="btn btn-primary rounded-circle" [routerLink]="['/admin/collaborators/', user.id]">
          <fa-icon [icon]="faUser"></fa-icon>
        </button>
      </li>

      <li class="list-inline-item">
        <button class="btn btn-primary rounded-circle" [routerLink]="['/admin/collaborators/edit/', user.id]">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
      </li>

      <li class="list-inline-item">
        <button class="btn btn-primary rounded-circle" [routerLink]="['/admin/collaborators/', user.id]" [queryParams]="{ tab: 3 }">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </button>
      </li>
    </ul>
  </div>

  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      <fa-icon [icon]="faUser"></fa-icon>{{ user.firstName }}, {{ user.lastName }}
    </h6>
    <p class="card-text text-muted text-center">
      {{ user.title }}
    </p>
  </div>
</div>
