<div class="card text-center" style="width: 10rem;">
  <div class="card-body">
    <h6 class="card-title text-center mb-1">
      {{axisPole.poleName}}
    </h6>
    <p *ngIf="!editing" class="card-text text-muted text-center">
      {{axisPole.weight}}%
    </p>
    <div *ngIf="editing" class="mb-2">
      <input type="number" min="0" max="100" [value]="axisPole.weight" (input)="onWeightChange(weight.value)" #weight> %
    </div>
    <div *ngIf="!isReadOnly">
      <button class="btn" [ngClass]="editing ? 'btn-success' : 'btn-info'" (click)="toggleEdit()">
        <span *ngIf="editing">
          <fa-icon [icon]="faSave"></fa-icon>Sauvegarder</span>
        <span *ngIf="!editing">
          <fa-icon [icon]="faEdit"></fa-icon> Editer</span>
      </button>
      <button *ngIf="editing" class="btn btn-danger mt-1" (click)="cancel()">
        <span>
          <fa-icon [icon]="faUndo"></fa-icon>Annuler</span>
      </button>
    </div>
  </div>
</div>
