<ngx-loading [show]="loading"></ngx-loading>

<div class="row" d-flex justify-content-center>
  <div class="col-sm-6 offset-sm-3 text-center">
    <h2 class="ext-primary">Création d'une stratégie</h2>
    <hr />
    <form [formGroup]="newForm" class="form-inline" (ngSubmit)="create()">
      <div class="form-group  required">
        <label class='control-label' for="title">Titre: </label>
        <input [ngClass]="{
                        'is-invalid':
                          newForm.get('title').errors &&
                          newForm.get('title').touched
                      }" class="form-control mb-1" placeholder="Titre" formControlName="title" />
        <div class="invalid-feedback" *ngIf="
                        newForm.get('title').touched &&
                        newForm.get('title').hasError('required')
                      ">
          Le titre est requis
        </div>
      </div>

      <div class="form-group  required">
        <label class='control-label' for="description">Description: </label>
        <textarea formControlName="description" rows="4" cols="50" [ngClass]="{
                              'is-invalid':
                                newForm.get('description').errors &&
                                newForm.get('description').touched
                            }" class="form-control mb-1" placeholder="Description"></textarea>
        <div class="invalid-feedback" *ngIf="
                      newForm.get('description').touched &&
                      newForm.get('description').hasError('required')
                    ">
          La description est requise
        </div>
      </div>

      <div class="form-group mt-2">
        <button class="btn btn-primary mr-2" type="button" (click)="cancel()">
          Annuler
        </button>
        <button class="btn btn-success" type="submit" [disabled]="!newForm.valid">
          Soumettre
        </button>
      </div>
    </form>
  </div>
</div>
