<div class="container mt-4">
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="row">
    <div class="col-sm-4">
      <h1>Votre profil</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <p>
          <strong>Information:</strong>
          Vous avez apporté des modifications. Toute modification non enregistrée sera perdue!
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{ photoUrl || '../../../assets/user.png' }}" alt="{{ user.lastName }}" />
        <div class="card-body">
          <div>
            <strong>Nom complet:</strong>
            <p>{{ user.firstName }} {{user.lastName}}</p>
            <strong>Direction:</strong>
            <p>{{ user.department.name }}</p>
          </div>
          <div>
            <strong>Dernière visite:</strong>
            <p>{{ user.lastActive | timeAgo }}</p>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-success w-80 mr-5" [disabled]="!editForm.dirty || editForm.invalid" form="editForm">
            Sauvegarder
          </button>
          <button class="btn btn-primary w-60" type="button" (click)="cancel()">
            Annuler
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Editer Profile">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
              <h4>Prénom:</h4>
              <input type="text" name="firstName" rows="6" class="form-control" [(ngModel)]="user.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': firstName.invalid }"
                required/>
              <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="invalid-feedback">
                <div *ngIf="firstName.errors.required">Le prénom est requis.</div>
              </div>

              <h4>Nom:</h4>
              <input type="text" name="lastName" rows="6" class="form-control" [(ngModel)]="user.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': lastName.invalid }"
                required/>
              <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="invalid-feedback">
                <div *ngIf="lastName.errors.required">Le nom est requis.</div>
              </div>

              <h4>Fonction:</h4>
              <input type="text" name="title" rows="6" class="form-control" [(ngModel)]="user.title" #title="ngModel" [ngClass]="{ 'is-invalid': title.invalid }"
                required/>
              <div *ngIf="title.invalid && (title.dirty || title.touched)" class="invalid-feedback">
                <div *ngIf="title.errors.required">La fonction est requise.</div>
              </div>

              <hr />
              <h4>Matricule:</h4>
              <p>{{ user.employeeNumber }}</p>
              <h4>Email:</h4>
              <p>{{ user.email }}</p>
              <h4>Date de recrutement:</h4>
              <p>{{ user.recruitmentDate | date: 'mediumDate'}}</p>
            </form>
          </tab>
          <tab heading="Editer Photos">
            <app-photo-editor [photos]="user.photos" (getMemberPhotoChange)="updateMainPhoto($event)"></app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
