<div class="container mt-5">
  <h2>Panneau d'administration</h2>
  <div class="tab-panel">
    <tabset class="member-tabset">
      <tab heading="Gestion des utilisateurs" *appHasRole="['Admin', 'HR']">
        <div class="row">
          <app-collaborator-list [departmentList]="departmentList" [userStatusList]="userStatusList" [users]="users" [pagination]="pagination"
            (pageChangedEvent)="(handlePageChanged($event))" (loadUsersEvent)="handleLoadUsers($event)"></app-collaborator-list>
        </div>
      </tab>

      <tab heading="Gestion des roles" *appHasRole="['Admin', 'HR']">
        <div class="container">
          <app-user-roles-management></app-user-roles-management>
        </div>
      </tab>

      <tab heading="Gestion de photos" *appHasRole="['Admin', 'HR']">
        <app-photo-management></app-photo-management>
      </tab>
    </tabset>
  </div>
</div>
