<div class="container mt-4">
  <div class="row">
    <h1>Profile de {{ user.lastName }}</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{ user.photoUrl || '../../../assets/user.png' }}" alt="{{ user.lastName }}"
        />
        <div class="card-body">
          <div>
            <strong>Nom complet:</strong>
            <p>{{ user.firstName }} {{ user.lastName }}</p>
          </div>
          <div>
            <strong>Fonction:</strong>
            <p>{{ user.title }}</p>
          </div>
          <div>
            <strong>Derniere visite:</strong>
            <p>{{ user.lastActive | timeAgo }}</p>
          </div>
          <div>
            <strong>Membre depuis:</strong>
            <p>{{ user.created | date: 'mediumDate' }}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-fles">
            <button class="btn btn-success w-100" (click)="selectTab(3)">
              Message
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset" #memberTabs>
          <tab heading="À propos {{ user.firstName }}">
            <h4>Nom Complet</h4>
            <p>{{ user.firstName }} {{user.lastName}}</p>
            <h4>Statut</h4>
            <p>{{ user.title }}</p>
            <h4>Fonction</h4>
            <p>{{ user.title }}</p>
            <h4>Direction</h4>
            <p>{{ user.department }}</p>
          </tab>
          <tab heading="Hiérarchie">
            <h4>Approbateurs des objectifs</h4>
            <ul>
              <li>Approver 1</li>
              <li>Approver 3</li>
              <li>Approver 3</li>
            </ul>
          </tab>
          <tab heading="Photos">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>
          <tab heading="Messages">
            <app-collaborator-messages [recipientId]="user.id"></app-collaborator-messages>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
