<div class="container mt-5">
  <ngx-loading [show]="loading"></ngx-loading>

  <div class="row">
      <div class="col-md-6 login-form-1">
      </div>
  
      <div class="col-md-6 login-form-2">
        <div class="logo-container">
          <img src="../../assets/SGM.png" class="logo" alt="Logo">
          <h3>Demande de réinitialisation de password</h3>
        </div>
  
        <form #forgetPasswordForm="ngForm" (ngSubmit)="requestResetPassword()">
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text">
                  <fa-icon [icon]="faAt"></fa-icon>
                </span>
              </div>
              <input class="form-control input_user" type="text" [(ngModel)]="model.email" required name="email" placeholder="Email">
            </div>
              
            <div class="form-group">
              <button type="submit" [disabled]="!forgetPasswordForm.valid" class="btn btn-primary btn-lg">Obtenir le lien de réinitialisation</button>
            </div>
            <a [routerLink]="['/home']">Retour à la page d'accueil</a>
            <div class="form-group"></div>
          </form>
      </div>
    </div>
</div>
