<div class="container mt-1">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-4">
          <div class="float-left">
            <button class="btn btn-outline-primary w-70 mr-1" (click)="returnToSheets()">
              <fa-icon [icon]="faArrowLeft" class="fa-2x"></fa-icon>
            </button>
          </div>
        </div>
        <div class="col-md-4">
          <h3 class="text-center">
            <span (click)="showDetail = !showDetail" style="cursor: pointer"> {{sheetToValidate.title}}
            </span>
          </h3>
        </div>
        <div class="col-md-4">
          <div class="float-right">
            <img src="{{ sheetToValidate.photoUrl }}" class="img-circle rounded-circle mr-1" title="{{sheetToValidate.ownerName}}" />
          </div>
        </div>
      </div>

      <app-sheet-meta-data [show]="showDetail" [sheet]="sheetToValidate"></app-sheet-meta-data>
    </div>

    <div class="card-body">
      <div *ngFor="let goalsByAxisInstance of goalsByAxisInstanceList">
        <app-goal-card [sheetId]="sheetToValidate.id" [areGoalsReadOnly]="areGoalsReadOnly" [goalsByAxisInstance]="goalsByAxisInstance"></app-goal-card>
      </div>
    </div>

    <div class="card-footer" *ngIf="canGoalsBeValidated">
      <div class="btn-group d-flex">
        <button class="btn btn-success w-70 mr-1" (click)="acceptGoals()">
          Valider les Objectifs
        </button>

        <button class="btn btn-danger w-70 mr-1" (click)="rejectGoals()">
          Renvoyer les Objectifs
        </button>
      </div>
    </div>
  </div>
</div>
