<div class="card mt-2 mb-2 border-primary">
  <div class="card-header" style="cursor: pointer" (click)="isCollapsed = !isCollapsed">
    <div class="row">
      <div class="col-md-1">
        <span class="badge badge-pill badge-primary" title="Pondération d'axe">
          {{goalsByAxisInstance.userWeight}} %
        </span>
      </div>
      <div class="col-md-4 text-primary ">
        <strong>{{goalsByAxisInstance.title}}</strong>
      </div>
      <div class="offset-md-6 col-md-1 ">
        <div class="toggle">
          <fa-icon [icon]="faCaretDown" *ngIf="!isCollapsed"></fa-icon>
          <fa-icon [icon]="faCaretUp" *ngIf="isCollapsed"></fa-icon>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="well">Nombre d'objectifs
          <span class="badge badge-pill badge-success">
            {{goalsByAxisInstance.totalGoals}}
          </span>

        </div>
      </div>



      <div class="col-md-5">
        <div class="well">
          Statut des objectifs:
          <span class="badge badge-pill badge-success">
            {{goalsByAxisInstance.goalsStatus}}
          </span>
        </div>
      </div>

      <div class="col-md-3">
        <div class="well">
          Poids total :
          <span class="badge badge-pill badge-success">
            {{goalsByAxisInstance.totalGoalWeight}} %
          </span>
        </div>
      </div>


    </div>
  </div>

  <div class="card-body" *ngIf="isCollapsed">
    <div class="alert alert-danger mt-3" role="alert" *ngIf="goalsByAxisInstance.goals && goalsByAxisInstance.goals.length === 0">
      <p>Aucun objectif n'a encore été ajouté...</p>
    </div>

    <table *ngIf="goalsByAxisInstance.goals && goalsByAxisInstance.goals.length > 0" class="table table-hover" style="cursor: pointer">
      <tr>
        <th style="width: 70%">Objectif</th>
        <th style="width: 16%">Type d'objectif</th>
        <th style="width: 5%">Poids</th>
        <th style="width: 6%"></th>
        <th style="width: 3%"></th>
      </tr>
      <tr *ngFor="let goal of goalsByAxisInstance.goals" [routerLink]="['/goal', goal.id]" [queryParams]="{ sheetId: sheetId }">
        <td>{{ goal.description }}
          <span *ngIf="ownerName != goal.cascaderFullName">(
            <strong>Cascader par {{goal.cascaderFullName}}</strong>)</span>
        </td>
        <td>{{ goal.goalType.name }}</td>
        <td>{{ goal.weight }}%</td>
        <td>
          <span *ngIf="!areGoalsReadOnly" class="d-flex justify-content-center">
            <button class="btn btn-warning" (click)="$event.stopPropagation()" (click)="editGoalModal(goal)" title="Modifier Objectif">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>

            <button class="btn btn-danger ml-1" (click)="$event.stopPropagation()" (click)="deleteGoal(goal)" title="Supprimer Objectif">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </span>
        </td>
        <td *ngIf="!areGoalsReadOnly">
          <button class="btn btn-primary" (click)="$event.stopPropagation()" (click)="cascadeGoal(goal)" title="Cascader Objectif">
            <fa-icon [icon]="faArrowAltCircleDown"></fa-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
