<div class="card mt-2 mb-2">
  <div class="card-header" style="cursor: pointer" (click)="isCollapsed = !isCollapsed">
    <div class="row">
      <div class="col-md-1">
        <span class="badge badge-pill badge-danger" title="Pondération d'axe">
          {{goalsByAxisInstance.userWeight}} %
        </span>
      </div>
      <div class="col-md-4">
        {{goalsByAxisInstance.title}}
      </div>
      <div class="offset-md-6 col-md-1 ">
        <div class="toggle">
          <fa-icon [icon]="faCaretDown" *ngIf="!isCollapsed"></fa-icon>
          <fa-icon [icon]="faCaretUp" *ngIf="isCollapsed"></fa-icon>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
        <span class="badge badge-pill badge-info">
          {{goalsByAxisInstance.totalGoals}}
        </span>
      </div>
      <div class="col-md-2">
        <div class="well">objectifs</div>
      </div>

      <div class="col-md-5">
        <div class="well">
          Statut des objectifs:
          <span class="badge badge-pill badge-info">
            {{goalsByAxisInstance.goalsStatus}}
          </span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="well">
          Poids total des objectifs:
          <span class="badge badge-pill badge-info">
            {{goalsByAxisInstance.totalGoalWeight}} %
          </span>
        </div>
      </div>


    </div>
  </div>

  <div class="card-body" *ngIf="isCollapsed">
    <div class="alert alert-danger mt-3" role="alert" *ngIf="goalsByAxisInstance.goals && goalsByAxisInstance.goals.length === 0">
      <p>Aucun objectif n'a encore été ajouté...</p>
    </div>

    <table *ngIf="goalsByAxisInstance.goals && goalsByAxisInstance.goals.length > 0" class="table table-hover" style="cursor: pointer">
      <tr>
        <th style="width: 70%">Objectif</th>
        <th style="width: 16%">Type d'objectif</th>
        <th style="width: 5%">Poids</th>
        <th style="width: 9%"></th>
      </tr>
      <tr *ngFor="let goal of goalsByAxisInstance.goals" [routerLink]="['/goal', goal.id]" [queryParams]="{ sheetId: sheetId }">
        <td>{{ goal.description }}</td>
        <td>{{ goal.goalType.name }}</td>
        <td>{{ goal.weight }}%</td>
        <td *ngIf="goal.parentGoalId === 0">
          <span *ngIf="!areGoalsReadOnly" class="d-flex justify-content-center">
            <button class="btn btn-info" (click)="$event.stopPropagation()" (click)="editGoalModal(goal)" title="Modifier Objectif">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>

            <button class="btn btn-danger ml-1" (click)="$event.stopPropagation()" (click)="deleteGoal(goal)" title="Supprimer Objectif">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </span>
        </td>
        <td *ngIf="goal.parentGoalId > 0" align="center">
          <img src="{{ goal.cascaderPhotoUrl || '../../../assets/user.png'}}" class="img-circle rounded-circle" title="{{goal.cascaderFullName}}"
          />
        </td>
        <!-- <td *ngIf="!areGoalsReadOnly">
          <button class="btn btn-secondary" (click)="$event.stopPropagation()" (click)="cascadeGoal(goal)" title="Cascader Objectif">
            <fa-icon [icon]="faArrowAltCircleDown"></fa-icon>
          </button>
        </td> -->
      </tr>
    </table>
  </div>
</div>
