<div class="card mt-2 mb-2">
  <div class="card-header" style="cursor: pointer" (click)="isCollapsed = !isCollapsed">
    <div class="row">
      <div class="col-md-1">
        <span class="badge badge-pill badge-danger" title="Pondération d'axe">
          {{goalsByAxisInstance.userWeight}} %
        </span>
      </div>
      <div class="col-md-4">
        {{goalsByAxisInstance.title}}
      </div>
      <div class="offset-md-6 col-md-1 ">
        <div class="toggle">
          <fa-icon [icon]="faCaretDown" *ngIf="!isCollapsed"></fa-icon>
          <fa-icon [icon]="faCaretUp" *ngIf="isCollapsed"></fa-icon>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
        <span class="badge badge-pill badge-info">
          {{goalsByAxisInstance.totalGoals}}
        </span>
      </div>
      <div class="col-md-2">
        <div class="well">objectifs</div>
      </div>

      <div class="col-md-5">
        <div class="well">
          Statut des objectifs:
          <span class="badge badge-pill badge-info">
            {{goalsByAxisInstance.goalsStatus}}
          </span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="well">
          Poids total des objectifs:
          <span class="badge badge-pill badge-info">
            {{goalsByAxisInstance.totalGoalWeight}} %
          </span>
        </div>
      </div>


    </div>
  </div>

  <div class="card-body" *ngIf="isCollapsed">
    <div class="alert alert-danger mt-3" role="alert" *ngIf="goalsByAxisInstance.goals && goalsByAxisInstance.goals.length === 0">
      <p>Aucun objectif n'a encore été ajouté...</p>
    </div>

    <table *ngIf="goalsByAxisInstance.goals && goalsByAxisInstance.goals.length > 0" class="table table-hover">
      <tr>
        <th style="width: 53%">Objectif</th>
        <th style="width: 16%">Type d'objectif</th>
        <th style="width: 20%">Nom de projet</th>
        <th style="width: 5%">Poids</th>
        <th style="width: 3%"></th>
        <th style="width: 3%"></th>
      </tr>
      <tr *ngFor="let goal of goalsByAxisInstance.goals">
        <td>{{ goal.description }}</td>
        <td>{{ goal.goalType.name }}</td>
        <td>{{ goal.projectName }}</td>
        <td>{{ goal.weight }}%</td>
        <td *ngIf="!areGoalsReadOnly">
          <button class="btn btn-info" (click)="$event.stopPropagation()" (click)="editGoalModal(goal)">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
        </td>
        <td *ngIf="!areGoalsReadOnly">
          <button class="btn btn-danger" (click)="$event.stopPropagation()" (click)="deleteGoal(goal)">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
