<div class="container mt-4">
  <div class="row">
    <h1>Stratégie détail</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div>
            <strong>Titre:</strong>
            <p>{{ strategy.title }}</p>
          </div>
          <div>
            <strong>Description:</strong>
            <p>{{ strategy.description }}</p>
          </div>
          <div>
            <strong>Statut:</strong>
            <p>{{ strategy.status }}</p>
          </div>
          <div *ngIf="strategy.sealed">
            <strong>Date scellée:</strong>
            <p>{{ strategy.sealedDate | date: 'mediumDate' }}</p>
          </div>
          <div>
            <strong>Auteur:</strong>
            <p>{{ strategy.ownerName }}</p>
          </div>
          <div>
            <strong>Créé:</strong>
            <p>{{ strategy.created | date: 'mediumDate' }}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-fles">
            <button class="btn btn-success w-80 mr-1" [routerLink]="['/hr']">
              Retour au List
            </button>
            <button class="btn btn-secondary w-60 mr-1" (click)="clone()">
              Coloner
            </button>
            <button class="btn btn-danger" (click)="delete()" *ngIf="!isReadOnly">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="strategy-tabset" #strategyTabs>
          <tab heading="Axes stratigique">
            <app-strategy-axis [isReadOnly]="isReadOnly" [axisList]="axisList" (addAxisEvent)="handleAddAxis(strategy.id, $event)"></app-strategy-axis>
          </tab>
          <tab heading="Pôles et Pondération">
            <div class="container">
              <app-axis-poles-weights-list [isReadOnly]="isReadOnly" [axisList]="axisList"></app-axis-poles-weights-list>
            </div>
          </tab>
          <tab heading="Documentation">
            <app-strategy-documentation [isReadOnly]="isReadOnly" [strategy]="strategy"></app-strategy-documentation>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
