<div class="container mt-4">
  <div class="row">
    <div class="col-sm-8 offset-sm-4">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <p>
          <strong>Information:</strong>
          Vous avez apporté des modifications. Toute modification non enregistrée sera perdue!
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{ user.photoUrl || '../../../assets/user.png' }}" alt="{{ user.lastName }}"
        />
        <div class="card-body">
          <div>
            <strong>Dernière visite:</strong>
            <p>{{ user.lastActive | timeAgo }}</p>
          </div>
          <div>
            <strong>Date de Création:</strong>
            <p>{{ user.created | date: 'mediumDate' }}</p>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-success w-80" [disabled]="!editForm.dirty" form="editForm">
            Sauvegarder
          </button>
          <button class="btn btn-primary w-60 ml-2" [routerLink]="['/admin']">Anuuler</button>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Editer Profile">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
              <div class="row">
                <div class="col-lg-4">
                  <h4>Prénom</h4>
                  <input type="text" name="firstName" class="form-control" [(ngModel)]="user.firstName" />
                  <h4>Nom</h4>
                  <input type="text" name="lastName" class="form-control" [(ngModel)]="user.lastName" />
                  <h4>Statut</h4>
                  <select class="form-control mb-1" style="width: 200px" id="userStatusId" name="userStatusId" [(ngModel)]="user.userStatus.id">
                    <option *ngFor="let us of userStatusList" [ngValue]="us.id">
                      {{ us.name }}
                    </option>
                  </select>
                  <h4>Fonction</h4>
                  <input type="text" name="title" class="form-control" [(ngModel)]="user.title" />
                  <h4>Direction</h4>
                  <select class="form-control mb-1" style="width: 200px" id="departmentId" name="departmentId" [(ngModel)]="user.department.id">
                    <option *ngFor="let dpt of departmentList" [ngValue]="dpt.id">
                      {{ dpt.name }}
                    </option>
                  </select>
                </div>
                <div class="col-lg-6 offset-lg1">
                  <h4>Matricule</h4>
                  <input type="text" name="employeeNumber" class="form-control" [(ngModel)]="user.employeeNumber" />
                  <h4>Email</h4>
                  <input type="text" name="email" class="form-control" [(ngModel)]="user.email" />
                  <h4>Date de recrutement</h4>
                  <input type="text" name="recruitmentDate" class="form-control mb-1" [(ngModel)]="bsValue" bsDatepicker [bsConfig]="bsConfig"
                  />
                </div>
              </div>
            </form>
          </tab>
          <tab heading="Editer Photos">
            <app-photo-editor [photos]="user.photos" (getMemberPhotoChange)="updateMainPhoto($event)"></app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
