<div class="row" d-flex justify-content-center>
  <div class="col-sm-6 offset-sm-3 text-center">
    <h2 class="ext-primary">Création d'un Fiche d'Objectif</h2>
    <hr />
    <form [formGroup]="newForm" class="form-inline" (ngSubmit)="createStrategy()">
      <div class="form-group">
        <label for="year">Exercice: </label>
        <input [ngClass]="{
          'is-invalid':
            newForm.get('year')?.errors &&
            newForm.get('year').touched
        }" class="form-control mb-1" placeholder="Date de recrutement" id="year" formControlName="year" type="text" bsDatepicker
          [bsConfig]="bsConfig" />
        <div class="invalid-feedback" *ngIf="
          newForm.get('year').touched &&
          newForm.get('year').hasError('required')
        ">
          L'année de l'exercice est requise
        </div>
      </div>

      <div class=" form-group ml-5">
        <button class="btn btn-success mr-2" type="submit" [disabled]="!newForm.valid">
          Soumettre
        </button>
        <button class="btn btn-primary" type="button" (click)="cancel()">
          Annuler
        </button>
      </div>
    </form>
  </div>
</div>
