<div class="container">

  <div class="card mt-2 mb-2">
    <div class="card-header">
      <form #searchForm="ngForm" (ngSubmit)="searchUsers()" class="form-inline">
        <div class="form-group">
          <input name="searchTerm" [(ngModel)]="searchTerm.userToSearch" type="text" class="form-control mr-2" placeholder="Tous les utilisateurs"
          />
        </div>
        <div class="form-group">
          <select class="form-control mr-2" name="userStatus" [(ngModel)]="searchTerm.userStatusId">
            <option [ngValue]="0" disabled selected>Tous les statuts</option>
            <option *ngFor="let us of userStatusList" [ngValue]="us.id">
              {{ us.name }}
            </option>
          </select>
        </div>
        <div class="form-group float-right">
          <button type="submit" class="btn btn-primary mr-2">Chercher</button>
          <button type="button" class="btn btn-info" (click)="resetSearch()">Réinitialiser</button>
        </div>
      </form>
    </div>

    <div class="card-body">
      <div class="float-right mb-1">
        <button class="btn btn-info mr-2" (click)="$event.stopPropagation()" (click)="executeAction()" [disabled]="disableAction()">
          {{actionLabel}}
        </button>
        <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">Annuler</button>
      </div>

      <table *ngIf="users?.length > 0" class="table table-hover" style="cursor: pointer">
        <tr>
          <th style="width: 5%">
            <input class="form-check-input" type="checkbox" (change)="selectAll()" [checked]="selectedAll" data-toggle="tooltip" data-placement="top"
              title="Tout sélectionner/désélectionner">
          </th>
          <th style="width: 20%">Prénom</th>
          <th style="width: 20%">Nom</th>
          <th style="width: 15%">Statut</th>
          <th style="width: 20%">Direction</th>
          <th style="width: 20%">Derniere fiche d'évaluation</th>
        </tr>
        <tr *ngFor="let user of users">
          <td>
            <input class="form-check-input" type="checkbox" value="{{user.id}}" [(ngModel)]="user.selected" (change)="checkIfAllSelected()">
          </td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{user.userStatus.name}}</td>
          <td>{{ user.department.name }}</td>
          <td>{{ user.lastEvaluationFile }}</td>
        </tr>
      </table>
    </div>
  </div>

</div>
