<div class="card mt-2 mb-2">
  <div class="card-header">
    <div class="toggle">
      <button type="button" (click)="isCollapsed = !isCollapsed" title="Réduire / Agrandir">
        <fa-icon [icon]="faCaretDown" *ngIf="!isCollapsed"></fa-icon>
        <fa-icon [icon]="faCaretUp" *ngIf="isCollapsed"></fa-icon>
      </button>
    </div>
    <div class="row">
      <div class="col-md-4">
        {{sheetToValidate.title}}
      </div>
      <div class="col-md-2">
        {{sheetToValidate.status}}
      </div>

      <div class="col-md-3">
        {{sheetToValidate.ownerName}}
      </div>

      <div class="col-md-3">
        {{sheetToValidate.ownerTitle}}
      </div>
    </div>
  </div>

  <div class="card-body" *ngIf="isCollapsed">
    <table class="table table-hover">
      <tr>
        <th style="width: 15%">Axe</th>
        <th style="width: 20%">Pôle</th>
        <th style="width: 25%">Pondération de Pôle</th>
        <th style="width: 25%">Pondération de l'employée</th>
        <th style="width: 15%"></th>
      </tr>
      <tr *ngFor="let axisInstance of sheetToValidate.axisInstances">
        <td>{{ axisInstance.title }}</td>
        <td>{{ axisInstance.poleName }}</td>
        <td>{{ axisInstance.poleWeight }} %</td>
        <td>
          <span class="badge badge-pill badge-success" *ngIf="!editing">
            {{ axisInstance.userWeight }} %
          </span>

          <span *ngIf="editing">
            <input type="number" min="0" max="100" [value]="axisInstance.userWeight" (input)="axisInstance.userWeight = weight.value"
              #weight> %
          </span>
        </td>
        <td>
          <button class="btn" [ngClass]="editing ? 'btn-success' : 'btn-info'" (click)="toggleEdit(axisInstance)" (click)="$event.stopPropagation()">
            <span *ngIf="editing">
              <fa-icon [icon]="faSave"></fa-icon>Sauvegarder</span>
            <span *ngIf="!editing">
              <fa-icon [icon]="faEdit"></fa-icon> Editer</span>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
