<div class="card mt-2 mb-2">
  <div class="card-header">
    <div class="toggle">
      <button type="button" (click)="isCollapsed = !isCollapsed" title="Réduire / Agrandir">
        <fa-icon [icon]="faCaretDown" *ngIf="!isCollapsed"></fa-icon>
        <fa-icon [icon]="faCaretUp" *ngIf="isCollapsed"></fa-icon>
      </button>
    </div>
    <div class="row">
      <div class="col-md-4">
        {{sheetToValidate.title}}
      </div>
      <div class="col-md-2">
        {{sheetToValidate.status}}
      </div>

      <div class="col-md-3">
        {{sheetToValidate.ownerName}}
      </div>

      <div class="col-md-3">
        {{sheetToValidate.ownerTitle}}
      </div>
    </div>
  </div>

  <div class="card-body" *ngIf="isCollapsed">
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item" *ngFor="let axisInstance of axisInstanceList">
        <app-sheet-axis-instance-item [axisInstance]="axisInstance" (updateUserWeightEvent)="handleUpdateUserWeight($event)"></app-sheet-axis-instance-item>
      </li>
    </ul>
  </div>
</div>
